absl-py==0.13.0
attrs==21.2.0
certifi==2021.5.30
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cycler==0.10.0
kiwisolver==1.3.1
matplotlib==3.4.2
mediapipe==0.8.6
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1618497418457/work
opencv-contrib-python==4.5.3.56
Pillow==8.3.1
protobuf==3.17.3
pyparsing==2.4.7
python-dateutil==2.8.2
pywin32==227
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1609874382867/work
wincertstore==0.2
